<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel List</title>
</head>
<body>
    <h1>Personnel List</h1>
    <ul>
        {% for person in personnel_list %}
            <li>
                {{ person[1] }} - {{ person[2] }} - {{ person[3] }} - {{ person[4] }}
                <a href="{{ url_for('edit_personnel', personnel_id=person[0]) }}">Edit</a>

            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_personnel') }}">Add Personnel</a>

</body>
</html>
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Personnel</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script>
   -->
  </head>
  <body>
    <h1>Personnel List</h1>
    <ul>
      <table border="1" cellpadding="0" cellspacing="0" class="centered-table">
        <th>姓名</th>
        <th>電話</th>
        <th>手機</th>
        <th>EDIT</th>
        <th>Delete</th>
        {% for person in personnel_list %}
        <tr>
          <td>{{ person[1] }}</td>
          <td>{{ person[2] }}</td>
          <td>{{ person[3] }}</td>
          <td>
            <a href="{{ url_for('edit_personnel', personnel_id=person[0]) }}"
              >Edit</a
            >
          </td>
          <td>
            <form method="post" action="{{ url_for('handle_actions') }}">
              <input
                type="hidden"
                name="personnel_id"
                value="{{ person[0] }}"
              />
              <input type="hidden" name="action" value="delete" />
              <button type="submit" class="delete-btn">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </ul>
    <a href="{{ url_for('add_personnel') }}">Add Personnel</a>
  </body>
</html>
